<div class="container">
  <div class="row mt-4">
    <div class="col-12">
		<% if @results.count == 1 %>
	 		<h1 class="text-center mb-4"> <%= job_count %> <%= @query %> job found:</h1>
			<% else %>
			<h1 class="text-center mb-4"> <%= job_count %> <%= @query %> jobs found:</h1>
			<% end %>
			<table class="table">
				<tbody>
					<% @results.each do |job| %>
					<tr>
						<!-- <td class="text-pull-left">
							<% if job["company_logo"] %>
					        <%= image_tag job["company_logo"] %><br/>
							<% end %>
							</td> -->
							<td class="text-pull-left">
								<%= link_to job["title"] %><br/>
				      		  	<%= job["company"] %><br/>
	  	              		  	<span class="text-muted">
									<%= job["location"] %>
								</span><br/>
				      		  	<span class="text-muted">
					      		  	<%= job["type"] %>
				      		  	</span><br/>
				      		  	<span class="text-muted">
									<p class="font-italic"> Posted <%= job["created_at"] %></p>
				      		  	</span><br/>
	  	          		  	</td>
							<!-- <td class="text-center">
								<%= job["description"] %>
							</td> -->
	  	     		</tr>
					<% end %>
	  	 	   </tbody>
     	  </table>
		  <% if (@results.nil? or @results == []) %>
		  <p><h2>No jobs found...</h2></p>
		  <% end %>
	  </div>
  </div>
</div>